.catalogue-jeux {
    margin: 20px;

    .full-width {
        width: 100%;
        margin-bottom: 20px;
    }

    .actions {
        margin-bottom: 20px;
        text-align: right;
    }

    .liste-jeux {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }

    .jeu-card {
        max-width: 300px;
        margin: auto;
    }
}