<div class="catalogue-jeux">
    <h2>Catalogue des jeux</h2>

    <!-- Nombre de résultats -->
    <div class="nombre-resultats">
        <p>Nombre de résultats : {{ listeJeuFiltree.length }}</p>
    </div>

    <!-- Barre de recherche -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Rechercher un jeu</mat-label>
        <input matInput [(ngModel)]="termeRecherche" (ngModelChange)="appliquerFiltrage()" placeholder="Rechercher par nom" >
    </mat-form-field>

    <!-- Filtrage par plateforme -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Filtrer par plateforme</mat-label>
        <mat-select [(ngModel)]="filtrePlateforme" (selectionChange)="appliquerFiltrage()">
            <mat-option value="">Toutes les plateformes</mat-option>
            <mat-option *ngFor="let plateforme of listePlateformes" [value]="plateforme">{{plateforme}}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Filtrage par genre -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Filtrer par genre</mat-label>
        <mat-select [(ngModel)]="filtreGenre" (selectionChange)="appliquerFiltrage()">
            <mat-option value="">Tous les genres</mat-option>
            <mat-option *ngFor="let genre of listeGenres" [value]="genre">{{genre}}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Bouton de création d'un jeu -->
    <div class="actions">
        <button mat-raised-button color="primary" routerLink="/create-jeu"><mat-icon>add</mat-icon>Ajouter un jeu</button>
    </div>

    <!-- Message si aucun résultat n'est trouvé -->
    <div *ngIf="listeJeuFiltree.length === 0" class="alert alert-warning">
        Aucun résultat trouvé pour votre recherche ou filtre.
    </div>

    <!-- Liste des jeux -->
    <div class="liste-jeux" *ngIf="listeJeuFiltree.length > 0">
        <ng-container *ngFor="let unJeu of listeJeuFiltree">
            <app-jeu  [Jeu]="unJeu"></app-jeu>
        </ng-container>
    </div>
</div>