<div *ngIf="leJeu">
    <!-- Si un identifiant est donné dans l'url (= on est sur la page du jeu) -->
    <div *ngIf="idJeu !== undefined">
        <!-- Bouton de retour en arrière -->
        <div class="actions">
            <button mat-raised-button color="primary" routerLink="/catalogue-jeux"><mat-icon>arrow_back</mat-icon> Retour au catalogue</button>
        </div>
        
        <!-- Détails du jeu -->
        <mat-card class="details-jeu">
            <mat-card-header>
                <mat-card-title>{{ leJeu.titre }}</mat-card-title>
                <mat-card-subtitle>{{ leJeu.genre }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="leJeu.cheminImage || 'https://placehold.co/512x512?text=' + leJeu.titre" [alt]="'Illustration ' + leJeu.titre">
            <mat-card-content>
                <p><strong>Développeur :</strong> {{ leJeu.developpeur }}</p>
                <p><strong>Date de sortie :</strong> {{ leJeu.dateDeSortie | date: 'dd/MM/yyyy' }}</p>
                <p><strong>Plateformes :</strong> {{ leJeu.plateforme }}</p>
                <p><strong>Prix :</strong> {{ leJeu.prix | currency: 'EUR' }}</p>
                <p><strong>Stock disponible :</strong> {{ leJeu.stockDisponible }}</p>
            </mat-card-content>
        </mat-card>

        <!-- Réservations du jeu -->
        <div class="reservations">
            <h2>Réservations pour ce jeu</h2>
            <div *ngIf="lesReservations && lesReservations.length > 0" class="liste-reservation">
                <app-reservation *ngFor="let reservation of lesReservations" [Reservation]="reservation" [afficherBoutonRetour]="false" class="carte-reservation"></app-reservation>
            </div>
            <div *ngIf="!lesReservations || lesReservations.length === 0">Aucune réservation trouvée pour ce jeu.</div>
        </div>
    </div>

    <!-- Si aucun identifiant n'est donné dans l'url (= on est sur la page du catalogue) -->
    <div *ngIf="idJeu === undefined">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ Jeu.titre }}</mat-card-title>
                <mat-card-subtitle>{{ Jeu.genre }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="Jeu.cheminImage || 'https://placehold.co/300x200?text=Image+non+disponible'" [alt]="Jeu.titre">
            <mat-card-content>
                <p><strong>Plateformes : </strong> {{ Jeu.plateforme }}</p>
                <p><strong>Prix : </strong> {{ Jeu.prix | currency:'EUR' }}</p>
                <p><strong>Stock : </strong> {{ Jeu.stockDisponible }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" routerLink="/jeu/{{Jeu.id}}">Détails du jeu <mat-icon>keyboard_arrow_right</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
