.actions {
    margin-bottom: 20px;
  }
  
  .details-jeu {
    max-width: 90%;
    margin: auto;

    .contenu-carte {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .infos-jeu {
        display: flex;
        flex-direction: column;
    }

    .image-jeu img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
  
  .reservations {
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
  
    .liste-reservation {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
    }
  }