<div class="catalogue-reservations">
    <h2>Liste des réservations</h2>

    <!-- Nombre de résultats -->
    <div class="nombre-resultats">
        <p>Nombre de résultats : {{ listeReservationFiltree.length }}</p>
    </div>

    <!-- Barre de recherche -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Rechercher une réservation</mat-label>
        <input matInput [(ngModel)]="termeRecherche" (ngModelChange)="appliquerFiltrage()" placeholder="Rechercher par nom ou email du client" >
    </mat-form-field>

    <!-- Filtrage par statut -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Filtrer par statut</mat-label>
        <mat-select [(ngModel)]="filtreStatut" (selectionChange)="appliquerFiltrage()">
            <mat-option value="">Tous les statuts</mat-option>
            <mat-option value="En attente">En attente</mat-option>
            <mat-option value="Confirmée">Confirmée</mat-option>
            <mat-option value="Annulée">Annulée</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Filtrage par jeu -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Filtrer par jeu</mat-label>
        <mat-select [(ngModel)]="filtreJeu" (selectionChange)="appliquerFiltrage()">
            <mat-option value="">Tous les jeux</mat-option>
            <mat-option *ngFor="let jeu of listeJeux" [value]="jeu.titre">{{jeu.titre}}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Bouton de création d'une réservation -->
    <div class="actions">
        <button mat-raised-button color="primary" routerLink="/create-reservation"><mat-icon>add</mat-icon>Ajouter une réservation</button>
    </div>

    <!-- Message si aucun résultat n'est trouvé -->
    <div *ngIf="listeReservationFiltree.length === 0" class="alert alert-warning">
        Aucun résultat trouvé pour votre recherche ou filtre.
    </div>

    <!-- Liste des réservations -->
    <div class="liste-reservations" *ngIf="listeReservationFiltree.length > 0">
        <ng-container *ngFor="let uneReservation of listeReservationFiltree">
            <app-reservation  [Reservation]="uneReservation"></app-reservation>
        </ng-container>
    </div>
</div>