<div *ngIf="laReservation">
    <!-- Si un identifiant est donné dans l'url (= on est sur la page de la reservation) -->
    <div *ngIf="idReservation !== undefined">
        <a routerLink="/catalogue-reservations" class="button"><button>Retour au catalogue de réservations</button></a>
        <h3>Réservation n°{{laReservation.id}}</h3>
        <p>Client : {{laReservation.nomClient}}</p>
        <p>Email client : {{laReservation.emailClient}}</p>
        <p>Numéro de téléphone client : {{laReservation.numeroTelephone}}</p>
        <p>Titre du jeu réservé : <a routerLink="/jeu/{{laReservation.idJeuReservation}}">{{laReservation.titreJeuReservation}}</a></p>
        <p>Plateforme : {{laReservation.plateforme}}</p>
        <p>Date de réservation : {{laReservation.dateDeReservation | date: 'dd/MM/yyyy'}}</p>
        <p>Statut de la réservation : {{laReservation.statutReservation}}</p>
    </div>

    <!-- Si aucun identifiant n'est donné dans l'url (= on est sur la page du catalogue) -->
    <div *ngIf="idReservation === undefined">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Réservation n°{{ Reservation.id }}</mat-card-title>
                <mat-card-subtitle>{{ Reservation.nomClient }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Email :</strong> {{ Reservation.emailClient }}</p>
                <p><strong>Jeu réservé :</strong> {{ Reservation.titreJeuReservation }}</p>
                <p><strong>Plateforme :</strong> {{ Reservation.plateforme }}</p>
                <p><strong>Date :</strong> {{ Reservation.dateDeReservation | date: 'dd/MM/yyyy' }}</p>
                <p><strong>Statut :</strong> {{ Reservation.statutReservation }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" routerLink="/reservation/{{ Reservation.id }}">Détails du réservation <mat-icon>keyboard_arrow_right</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
